
     <div style="background-image :mypic8.jpg "><img src="../../assets/images/mypic8.jpg" alt="Image"/></div>
        <div>
            <ul>
                <li style="color:rgb(8, 2, 2); font-size:30px" (click)="gotohome()">Home</li>
                <li style="color:rgb(16, 7, 7); font-size:30px"(click)="gotomyorders()">Myorders</li>
                <li style="color:rgb(5, 2, 2); font-size:30px"(click)="gotoofferzone()">Offer Zone</li>
                <li style="color:rgb(17, 5, 5); font-size:30px"(click)="gotoaboutus()">About Us</li>
                <li style="color:rgb(8, 5, 5); font-size:30px"(click)="gotocontactus()">Contact Us</li>
            </ul>
        </div>
    
